<ion-content>
    <img class="background" src="/assets/images/restaurant3.jpg" alt="" />

    <div class="vertical-align-content">
        <ion-grid class="overlay">
            <ion-row>
                <ion-col>
                    <div class="heading custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <ion-menu-toggle>
                                    <ion-icon name="menu-outline"></ion-icon>
                                </ion-menu-toggle>
                                <h1>Gastronomie</h1>
                                <h1 class="subtitle">
                                    Digital to touch. <br /> Excellent to order.
                                </h1>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content1">
                        <div class="polygon">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>
                                            Die smarte <br /> Tischkommunikation
                                        </h2>
                                        <div class="accent-line"></div>
                                        <p>
                                            Gastronomie neu gedacht und neu gelebt. Die erste echte digitale Speisekarte mit verwechselbar echten Fotos von Speisen und Getränken zum Anfassen (und Reinbeißen…). Handlich, praktisch und garantiert appetitanregend! Per Knopfdruck einfach das Lieblingsessen
                                            bestellen, ohne Wartezeiten und ohne umständliche Bestellvorgänge. Von der Auswahl direkt auf Deinen Teller! Mit schlankem Design, damit mehr Platz zum Probieren, Kosten und Genießen bleibt.

                                            <br /><br /> Mit Freunden lachen, Zeit verbringen und dabei kulinarische Höhenflüge erleben. Das Handy zur Seite legen und mit echten Herzensmenschen essen anstatt mit Followern auf Social Media. GIMIG setzt
                                            bewusst auf Technik, losgelöst von der klassischen Handybedienung, damit wieder echte Kommunikation Raum und Platz findet.
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>

                        <img src="/assets/images/G2-Gastro.jpg" alt="" />

                        <div class="polygon2">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <p>
                                            Reibungslose Abläufe für eine Gastronomie zum Anfassen und Erleben! Innovativ, schnell und einfach, kommuniziert GIMIG als einziges, intelligentes Smart Table Display seiner Klasse zwischen Gästen und dem Servicepersonal- und das in beiden Richtungen!
                                            Von gekonnt in Szene gesetzter Tagesempfehlungen, bis hin zu Zusatzverkäufen, Weinbegleitungen oder Signature Dishes. Leere Servicezeiten und doppelte Wege waren gestern. Überzeuge Deine Gäste zielgerichtet
                                            mit wenigen Clicks von Deiner kulinarischen Vielfältigkeit.

                                            <br /><br /> Vielleicht einmal etwas Neues ausprobieren anstatt den All-time-Favoriten vom Speiseplan zu bestellen? Mit den großflächigen Präsentationen über den gemeinen Tellerrand hinausblicken und sich von
                                            der Vielfältigkeit / Vielfalt seines Lieblingsrestaurants überzeugen lassen. Gastronomie zum Anfassen erleben. Emotional und digital.
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                    <div class="content2 custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <h2>Grenzenlos innovativ, herzlich kommunikativ.</h2>

                                <div class="accent-line"></div>

                                <h3>
                                    Vorteile und Einsatzgebiete <br /> auf einen Blick
                                </h3>

                                <div class="space"></div>

                                <app-feature-item point="1" title="Digitale Speisekarte" desc="Die beste interaktive Menükarte ihrer Art. Mit Schwerpunkt auf Bildern und Emotionen für Genuss über alle Sprachgrenzen hinweg.">
                                </app-feature-item>

                                <app-feature-item point="2" title="Bestellsystem mit Mehrwert" desc="Einfache, bidirektionale Bestellwege, leichte Bedienung und keine leeren Servicewege mehr. Effizientes Arbeiten bei zufriedeneren Gästen. ">
                                </app-feature-item>

                                <app-feature-item point="3" title="Infodisplay in Echtzeit" desc="Gästeinformation auf einen Knopfdruck. Vom Gast zum Service und vom Service zum Gast.">
                                </app-feature-item>

                                <img src="/assets/images/gimig2.png" alt="" class="product-image" />

                                <app-feature-item point="4" title="Individuelle Empfehlungen" desc="Zusatzverkäufe und Tagesempfehlungen direkt und on point von der Küche zum Gast">
                                </app-feature-item>

                                <app-feature-item point="5" title="Komplett ohne Handy" desc="Damit Du mit Freunden und nicht mit followern die Zeit verbringst">
                                </app-feature-item>

                                <app-feature-item point="6" title="Cleveres Bewertungssystem" desc="Gästefeedback direkt von GIMIG auf die jeweilige Plattform spielen. 5 Sterne für perfekten Service von A-Z.">
                                </app-feature-item>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content3 custom-bg">
                        <div class="polygon2">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>Timeless design, <br />Priceless functionality</h2>

                                        <h3>
                                            Der Allrounder für <br /> Gastronomie und Hotellerie
                                        </h3>

                                        <img src="/assets/images/Software1.png" alt="" />

                                        <img src="/assets/images/Software.png" alt="" />

                                        <img src="/assets/images/Software3.png" alt="" />

                                        <img src="/assets/images/Software2.png" alt="" />

                                        <p>Du willst unsere Software in Live sehen?</p>

                                        <ion-button>
                                            <ion-icon id="btn-icon" slot="start" name="logo-whatsapp"></ion-icon>
                                            Schreib uns einfach
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                    <div class="content4">
                        <div class="custom-margin">
                            <ion-row>
                                <ion-col size-md="12" size-lg="6" offset-lg="3">
                                    <h2>Noch mehr Infos zum neuen <span>GIMIG IV</span>?</h2>

                                    <ion-button routerLink="/menu/product">Produkt ansehen</ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                        <img src="/assets/images/DSC05460.jpg" alt="" />
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
