<ion-content>
    <img class="background" src="/assets/images/produkt.jpg" alt="" />

    <div class="vertical-align-content">
        <ion-grid class="overlay">
            <ion-row>
                <ion-col>
                    <div class="heading custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <ion-menu-toggle>
                                    <ion-icon name="menu-outline"></ion-icon>
                                </ion-menu-toggle>
                                <h1>GIMIG IV</h1>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content1">
                        <div class="polygon">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>
                                            GIMIG in <br /> Zahlen und Daten
                                        </h2>
                                        <div class="accent-line"></div>
                                        <p>
                                            Geballte Technik, edles Design und überzeugende Wirkung in Zahlen übersetzt
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>

                        <img src="/assets/images/G2-Gastro.jpg" alt="" />
                    </div>
                    <div class="content2 custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <h2>Just another hard fact about GIMIG</h2>

                                <div class="accent-line"></div>

                                <div class="space"></div>

                                <app-feature-item point="1" title="Android 10 Betriebssystem" desc="">
                                </app-feature-item>

                                <app-feature-item point="2" title="2X 8 Zoll Full HD Display" desc="">
                                </app-feature-item>

                                <img src="/assets/images/gimig2.png" alt="" class="product-image" />

                                <app-feature-item point="3" title="36h Akkulaufzeit" desc="">
                                </app-feature-item>

                                <app-feature-item point="4" title="Touchdisplay" desc="">
                                </app-feature-item>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content3 custom-bg">
                        <div class="polygon2">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>
                                            Technische Daten <br /> im Überblick
                                        </h2>
                                        <h3>Display</h3>
                                        <p>
                                            8 Zoll Dual Full <br /> HD 1080P 1920*1200 Pixel <br /> IPS LCD Touch Screen
                                        </p>
                                        <h3>Specs</h3>
                                        <p>
                                            32.000 mAh Lithium Akku <br /> 4x 2.0GHz ARM Cortex-A53 <br /> 2 GB RAM / 16GB Storage <br /> Android 10 Betriebsystem
                                        </p>

                                        <h3>Connection</h3>
                                        <p>
                                            Bluettoth 5.0 <br /> Wifi 5GHz <br /> NFC (optional)
                                        </p>
                                        <h3>Device</h3>
                                        <p>
                                            3D gedrucktes <br /> Kunststoffgehäuse
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
