    * {
        padding: 0;
        margin: 0;
    }
    
    .my-custom-menu {
        --width: 500px;
    }
    
    // ion-row {
    //     border: 1px solid red;
    //     width: 100%;
    // }
    // ion-col {
    //     border: 1px solid blue;
    //     width: 100%;
    // }
    .vertical-align-content>* {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start !important;
        height: 100%;
    }
    
    .custom-margin {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .space {
        margin-top: 100%;
    }
    
    ion-content {
        --background: #262A2E;
    }
    
    .background {
        filter: blur(3px) brightness(50%);
        height: 35rem;
        object-fit: cover;
        width: 100%;
    }
    
    .bg2 {
        // height: 43rem;
        height: 150%;
    }
    
    h1 {
        font: 800 3.5rem 'Poppins';
        letter-spacing: 4px;
        margin-top: 6rem;
        text-align: center;
    }
    
    h2 {
        margin-top: 4rem;
        font: 800 1.8rem 'Poppins';
        text-align: center;
        text-transform: uppercase;
    }
    
    h3 {
        color: #F56753;
        font: 700 1.1rem 'Poppins';
        margin: 0.3rem 0 .6rem 0;
    }
    
    p {
        color: #fff;
        font: 400 .9rem/1.8rem 'Poppins';
        margin-top: 0.5rem;
    }
    
    ion-button {
        --background: #F56753;
        --border-radius: 5rem;
        --box-shadow: none !important;
        height: 3rem;
        margin-top: 4rem;
        text-align: center;
        width: 15rem;
        margin-bottom: 2rem;
        font-family: 'Poppins';
        letter-spacing: .5px;
    }
    
    #btn-icon {
        color: white;
        margin: 0;
        padding: 0;
        margin-right: 1rem;
    }
    
    .overlay {
        bottom: 0px;
        color: #fff;
        height: 3rem;
        position: absolute;
        width: 100%;
        z-index: 99;
        ion-icon {
            color: #F56753;
            font-size: 2rem;
            margin-top: 1rem;
        }
        h3 {
            color: #262A2E;
        }
        .subtitle {
            font: 400 1.7rem 'Poppins';
            margin-top: 0rem;
            text-align: center;
            letter-spacing: 2px;
        }
        .logo-col {
            display: none;
        }
        .landing-container {
            // text-align: center;
            background-color: white;
            color: #262A2E;
            border-radius: 30px;
            height: 60%;
            margin-top: 15rem;
            padding: 5rem 20px 0rem 20px;
            position: relative;
            .landing-img {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: -40px;
                width: 18rem;
            }
            .accent-line {
                background-color: #F56753;
                border-radius: 5rem;
                height: 3px;
                margin: 1rem 0;
                width: 60px;
            }
            .end {
                position: absolute;
                right: 20px;
            }
            p {
                color: #4c545c;
            }
        }
        .content-font-styling {
            h3 {
                color: #F56753;
            }
            p {
                color: #fff;
            }
            ion-button {
                --background: #F56753;
                --border-radius: 5rem;
                --box-shadow: none !important;
                --color: white;
                height: 3rem;
                margin-top: 3rem;
                text-align: center;
                width: 15rem;
            }
        }
        .content1 {
            margin: 0rem 20px 3rem 20px;
            text-align: center;
            width: 100%;
        }
        .content2 {
            background-color: #262A2E;
            border-radius: 30px 30px 0 0;
            height: 120rem;
            text-align: center;
            width: 100%;
        }
        .polygon {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            margin-top: 3rem;
            height: 55rem;
            background: #F56753;
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
            position: relative;
        }
        .content3 {
            text-align: center;
            width: 100%;
            margin-top: 4rem;
            border-radius: 30px;
            padding-top: 3rem;
            img {
                margin-top: 3rem;
                width: 15rem;
                height: auto;
            }
            h3 {
                color: #262A2E;
            }
            p {
                color: #fff;
            }
            .label {
                margin-top: 3rem;
            }
            ion-button {
                --background: #262A2E;
                margin-top: 1rem;
            }
        }
        .bottom-nav {
            text-align: start;
            h4 {
                color: #F56753;
                font: 800 1.5rem 'Poppins';
                letter-spacing: 2px;
            }
            p {
                color: #ffffff;
                font: 400 1.5rem/2.5rem 'Poppins';
                letter-spacing: 1px;
            }
            img {
                width: 4rem;
            }
            .space {
                margin-top: 5rem;
            }
            .detail {
                text-align: right;
                font: 400 .9rem/.9rem 'Poppins';
                margin: 1rem 0;
            }
            ion-row {
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
    
    @media screen and (min-width: 150px) and (max-width: 350px) {
        .bg2 {
            height: 200%;
        }
        .space {
            margin-top: 100%;
        }
        .overlay {
            .content2 {
                height: 125rem;
            }
        }
    }
    
    @media screen and (min-width: 570px) and (max-width: 991px) {
        .bg2 {
            height: 170%;
        }
        .background {
            height: 110%;
        }
        .space {
            margin-top: 10%;
        }
        p {
            font-size: 1.1rem;
        }
        h3 {
            font-size: 1.7rem;
        }
        h2 {
            font-size: 3rem;
            letter-spacing: 2px;
        }
        h1 {
            font-size: 5rem;
        }
        .overlay {
            .content2 {
                height: 115rem;
            }
            .subtitle {
                font-size: 2.5rem;
            }
            .landing-container {
                margin-top: 20rem;
                height: 80%;
                padding-top: 7rem;
                padding-bottom: 3rem;
                .landing-img {
                    width: 25rem;
                }
            }
        }
    }
    
    @media screen and (min-width: 991px) {
        .background {
            height: 110%;
        }
        .bg2 {
            height: 200%;
        }
        .space {
            margin-top: 10%;
        }
        p {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 2rem;
        }
        h2 {
            font-size: 4rem;
            letter-spacing: 3px;
        }
        h1 {
            margin-top: 10rem;
            font-size: 6rem;
        }
        .overlay {
            .content2 {
                height: 115rem;
            }
            .subtitle {
                font-size: 3rem;
                letter-spacing: 5px;
            }
            .landing-container {
                margin-top: 20rem;
                height: 80%;
                padding-top: 7rem;
                padding-bottom: 3rem;
                .landing-img {
                    width: 30rem;
                }
            }
            .polygon {
                height: 70rem;
            }
            .content3 {
                img {
                    width: 25rem;
                    margin-bottom: 2rem;
                }
            }
            .logo-col {
                display: initial;
                align-content: flex-end;
            }
            .logo {
                width: 7rem;
            }
        }
    }