<ion-content>
    <img class="background" src="/assets/images/reviews.jpg" alt="" />

    <div class="vertical-align-content">
        <ion-grid class="overlay">
            <ion-row>
                <ion-col>
                    <div class="heading custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <ion-menu-toggle>
                                    <ion-icon name="menu-outline"></ion-icon>
                                </ion-menu-toggle>
                                <h1>Reviews</h1>
                                <h1 class="subtitle">
                                    Hören sie nicht auf uns! <br />
                                    <br /> lassen sie sich von unseren Kunden überzeugen!
                                </h1>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content1">
                        <div class="polygon">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>
                                            Das sagen <br /> andere über uns
                                        </h2>
                                        <div class="accent-line"></div>
                                        <div class="review">
                                            <img src="/assets/images/qoutes.svg" alt="" />
                                            <p>
                                                "Verkaufen war noch nie so einfach! Auf meinen Veranstaltungen ist das GIMIG einfach ein absolutes Highlight auf Stehtischen, damit Teilnehmer sich auch in den Pausen die wichtigsten Infos zu Personen & Produkten anschauen können! Diese Displays verbinden
                                                die Offline- & Onlinewelt auf tolle Art & Weise."
                                            </p>
                                            <p>~ Marcel B. | Speaker Event</p>
                                        </div>
                                        <div class="review">
                                            <img src="/assets/images/qoutes.svg" alt="" />
                                            <p>
                                                "Die Gimig’s sind super angekommen. Hat die Stimmung auf der Hochzeit aufgelockert & wir haben uns die Menükarten etc. gespart, da alles abwechselnd mit den Bildern vom Brautpaar & von den Gästen durchgelaufen ist. Sehr empfehlenswert! "
                                            </p>
                                            <p>~ Daniel F. | Hochzeit, Augsburg</p>
                                        </div>
                                        <div class="review">
                                            <img src="/assets/images/qoutes.svg" alt="" />
                                            <p>
                                                "Im Rahmen von internen und externen Events haben wir GIMIG Displays eingesetzt und waren jedes Mal aufs Neue begeistert. Ob Bewegtbild oder permanente visuelle Information für Gäste - GIMIG ist innovativ technologisch super entwickelt. Ein Hingucker
                                                für die Gäste."
                                            </p>
                                            <p>~ Philipp G. | Promotion-Event Superfly</p>
                                        </div>
                                        <div class="review">
                                            <img src="/assets/images/qoutes.svg" alt="" />
                                            <p>
                                                "Vielen vielen Dank für deine Tolle Leistung und Verarbeitung der Bilder im Digitalen Bilderrahmen. Tolle Auflösung und super Kombination der Bilder. Muss man unbedingt ausprobiert haben, um sich davon selbst ein Bild machen zu können. Nur zum Empfehlen!"
                                            </p>
                                            <p>~ Dominik K. | Hochzeit, Ulm</p>
                                        </div>
                                        <div class="review">
                                            <img src="/assets/images/qoutes.svg" alt="" />
                                            <p>
                                                "Wir hatten Gimig Displays auf unserer Hochzeit. Es liefen den ganzen Abend Bilder von und und unseren Liebsten. Es war einfach super. Auch die Kommunikation hat einwandfrei geklappt. Würden wir auf alle Fälle jedem empfehlen und wieder machen :)"
                                            </p>
                                            <p>~ Christine E. | Hochzeit, Bad Aibling</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
