<ion-content>
    <img class="background" src="/assets/images/about-us.jpg" alt="" />

    <div class="vertical-align-content">
        <ion-grid class="overlay">
            <ion-row>
                <ion-col>
                    <div class="heading custom-margin">
                        <ion-row>
                            <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                <ion-menu-toggle>
                                    <ion-icon name="menu-outline"></ion-icon>
                                </ion-menu-toggle>
                                <h1>About us</h1>
                                <h1 class="subtitle">
                                    If you have an idea <br /> start today.
                                </h1>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="content1">
                        <div class="polygon">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>Georg Merkel</h2>
                                        <h3>Gründer / Vertrieb / Marketing</h3>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <img src="/assets/images/Georg Merkel.jpg" alt="" />
                            <div class="fill">
                                <img class="avatar" src="/assets/images/Georg Merkel.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="content2">
                        <div class="polygon2">
                            <ion-row>
                                <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                    <div class="custom-margin">
                                        <h2>Julian Hofmeister</h2>
                                        <h3>Konzeption / Design / Entwickluing</h3>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </div>
                        <img src="/assets/images/Julian Hofmeister.jpg" alt="" />
                        <div class="fill">
                            <img class="avatar" src="/assets/images/Julian Hofmeister.jpg" alt="" />
                        </div>
                    </div>
                    <div class="content3 custom-bg">
                        <div class="polygon3">
                            <div class="custom-margin">
                                <ion-row>
                                    <ion-col size-md="12" size-lg="9" offset-lg="1.5">
                                        <h2>
                                            Du willst <br /> uns helfen?
                                        </h2>
                                        <ion-button>Schreib uns</ion-button>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
